page-fmyvideos {
    ion-content {
        background: linear-gradient(to top, rgba(255,0,0,0), rgba(100, 185, 178, 0.548)); 
      }     

    .player{
        position: relative;
        text-align: center;        
    }

    .videoText {
        position: absolute;
        top: 10%;
        left: 5%;
        color: white;
    }
   
}
