page-termsofusage {
ion-content{
    background-color:rgb(255, 255, 255);

    p{
        // background:rgb(238, 237, 237);
        color:rgb(110, 107, 107);
        font-size:15px;
        padding-bottom:20px;
        margin-bottom:20px;
        word-spacing: 2.3px;
    }
}
}
